.layoutContainer {
  background: url("../assest/images/auth_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
}
.layout_content {
  width: 100%;
  height: calc(100vh - 144px);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: -1;
  @media (max-width: 650px) {
    height: calc(100vh - 100px);
  }
}
.layout_pattern {
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
